.notLogged {
  border-bottom: 1.5px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.auth-text {
  font-size: 1.2rem;
  padding-bottom: 1rem;
  text-align: center;
}

.bttn-group {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.bttn {
  flex: 1;
  max-width: 10rem;
  padding: 0.8rem 0;
}