<div class="container">
  <!-- Publish Component -->
  <div *ngIf="isLogged$ | async; else notLogged">
    <app-post-publish
      [destinationConfig]="{destination:1, parentIndex:0}">
    </app-post-publish>
  </div>
  
  <ng-template #notLogged class="border auth-container">
    <div class="notLogged">
      <span class="auth-text">In order to post you need to be logged in!</span>
      <div class="bttn-group">
        <button class="bttn solid-bttn" (click)="auth('Login')">Login</button>
        &nbsp;or&nbsp;
        <button class="bttn solid-bttn" (click)="auth('Register')">Register</button>
      </div>
    </div>
  </ng-template>

  <ng-container *ngIf="!needsLogin && needsLogin !== null || (isLogged$ | async)">
    <app-posts-list [queryUrl]="queryUrl"></app-posts-list>
  </ng-container>
</div>
