<div class="container">
  <div class="post-list">
   
    
      <!-- Upper post -->
      <ng-container *ngIf="checkParent(mainPost)">
        <div  *ngFor="let upperPost of mainPost.parent; let i=index">
          <div (click)="check(upperPost)">
            <app-post
            [contextInfo]="{i:i, type:'parent'}"
            [publishConfig]="{destination:0}"
            [inputConfig]="{owner:false, thread: true}"
            [post]="upperPost">
            </app-post>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="mainPost && !checkParent(mainPost)">
        <div  *ngFor="let upperPost of mainPost.parent; let i=index">
          <div (click)="check(upperPost)">
            <app-post
            [contextInfo]="{i:i, type:'parent'}"
            [publishConfig]="{destination:0}"
            [inputConfig]="{empty:true, owner:false, thread: true}"
            [post]="{text:'Loading...'}">
            </app-post>
          </div>
        </div>
      </ng-container>

      <!-- Main Post -->
    <div *ngIf="mainPost">
      <div class="main-post" (click)="check(mainPost)">
        <app-post
        [publishConfig]="{destination: 1, parentIndex:0}"
        [inputConfig]="{owner:false}"
        [post]="mainPost">
        </app-post>
      </div>
    </div>

    <!-- Replies -->
    <div *ngIf="repliesList">
      <div *ngIf="!loading">
        <div class="reply-container" *ngFor="let reply of repliesList; index as pIndex">
          <div (click)="check(reply)">
            <app-post
            [contextInfo]="{i:pIndex, type:'post'}"
            [publishConfig]="{destination:2, parentIndex: pIndex, childIndex:reply.child?.length, end: true}"
            [deleteConfig]="{destination:1, parentIndex: pIndex}"
            [inputConfig]="{thread: (reply.child?.length !== 0)}"
            [post]="reply">
            </app-post>
          </div>
  
          <!-- Reply to reply (folowing thread) -->
          <div *ngFor="let childReply of reply.child; index as cIndex; last as isLast">
            <div (click)="check(childReply)" class="reply">
              <app-post
              [contextInfo]="{i:pIndex, type:'reply'}"
              [publishConfig]="{destination:0, parentIndex: pIndex}"
              [deleteConfig]="{destination:2, parentIndex: pIndex, childIndex: cIndex}"
              [inputConfig]="{thread: !isLast}"
              [post]="childReply">
              </app-post>
            </div>
          </div>
        </div>
        
        <div style="padding: 2rem; text-align: center;">
          <h3 *ngIf="(!repliesList || repliesList?.length === 0)">No replies yet</h3>
        </div>
      </div>
    </div>

    <div style="padding: 2rem; text-align: center;">
      <h3 *ngIf="loading">Searching replies...</h3>
    </div>
    
  </div>
</div>