.main-post {
  border-bottom: 15px solid var(--primary-color);
  background: var(--hover-color);
}

.container {
  width: 100%;
  height: 92%;
  display: flex;
  flex-direction: column;
}

.post-list {
  overflow: scroll;
  flex-grow : 1;
}
.post-list::-webkit-scrollbar {
  display: none;
}

.reply-container {
  border-bottom: 0.15rem solid var(--primary-color);
}

/* .upper-post {
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  background: var(--hover-color);
}

.upper-post:hover {
  background: rgb(21, 172, 89);
} */