.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.indicator {
  flex: 1;
  /* display: flex; */
  text-align: right;
  margin-right: 1rem;
}

.data {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex: 3;
}

.acc-photo {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}

.acc-photo-change {
  cursor: pointer;
  margin-left: 0.8rem;
  padding: 0.75rem 0.5rem;
  border-radius: 500px;
  text-align: center;
  display: inline;
  background-color: transparent;
  border: 2px solid var(--primary-color);
  font-weight: bold;
  color: var(--text-color);
  outline: 0;
}
.acc-photo-change:hover {
  background-color: var(--hover-solid-color);
}

.input {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 16px;
  outline: 0;
  border: 0;
  color: #495057;
  letter-spacing: 0.2rem;
  flex: 1;
  font-weight: 500;
}

.acc-description {
  height: 8rem;
}


.btn-save {
  cursor: pointer;
  margin-left: auto;
  font-size: 1.1rem;
  padding: 0.75rem 2rem;
  border-radius: 500px;
  text-align: center;
  display: inline;
  background-color: var(--primary-color);
  border: 0;
  font-weight: bold;
  color: var(--text-color);
  flex: 1;
}
.btn-save:hover:not(.disabled) {
  background-color:  var(--hover-solid-color);
}

.disabled {
  background-color: var(--hover-empty-color);
  cursor: not-allowed;
}



