.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.acc-photo {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-color: var(--hover-color);
}

.acc-photo-change {
  cursor: pointer;
  margin-left: 0.8rem;
  padding: 0.75rem 0.5rem;
  border-radius: 500px;
  text-align: center;
  display: inline;
  background-color: transparent;
  border: 2px solid var(--primary-color);
  font-weight: bold;
  color: var(--text-color);
  outline: 0;
}
.acc-photo-change:hover {
  background-color:  rgb(21, 172, 89);
}

.previous-data {
  font-size: 1rem;
}

.acc-name {
  width: 17rem;
  outline: 0;
  padding: 10px;
  font-size: 1.1rem;
}

.acc-description {
  padding: 10px;
  font-size: 1.1rem;
  width: 17rem;
  max-width: 17rem;
  height: 10rem;
  outline: 0;
}

.flex {
  margin-top: 1rem;
  width: 100%;
  display: flex;
}

.btn-save {
  cursor: pointer;
  margin-left: auto;
  font-size: 1.1rem;
  padding: 0.75rem 2rem;
  border-radius: 500px;
  text-align: center;
  display: inline;
  background-color: var(--primary-color);
  border: 0;
  font-weight: bold;
  color: var(--text-color);
}
.btn-save:hover {
  background-color:  rgb(21, 172, 89);
}

table {
  width: 100%;
  padding: 1rem;
}