<!-- <div class="container">
  <input #imageSelectInput type="file" (change)="onImageSelect($event)" style="display: none;">
  <table>
    <tr>
      <td>Avatar:</td>
      <td><img class="acc-photo" [src]="avatarUrl"></td>
      <td>
        <input
          *ngIf="selectedImg"
          (click)="onCancelSelectedImage()"
          class="acc-photo-change"
          type="button"
          value="Cancel">
        <input
          (click)="imageSelectInput.click()"
          class="acc-photo-change"
          type="button"
          [value]="selectedImg ? 'Select new image' : 'Change profile image'">
      </td>
    </tr>
    <tr>
      <td>Name:</td>
      <td colspan="2"><input #name class="acc-name input" type="text" [value]="user.name"></td>
    </tr>
    <tr>
      <td>Description:</td>
      <td colspan="2"><textarea #description class="acc-description input" [value]="user.description"></textarea></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td class="flex">
        <div *ngIf="uploadProgress">{{ uploadProgress }}</div>
        <button class="btn-save" (click)="onSave(name.value, description.value)">Save</button>
      </td>
    </tr>
  </table>
</div> -->


<div class="container">
  <input #imageSelectInput type="file" (change)="onImageSelect($event)" style="display: none;">
  <div class="row">
    <div class="indicator">Avatar:</div>
    <div class="data">
      <img class="acc-photo" [src]="avatarUrl">
      <input
        *ngIf="selectedImg"
        (click)="onCancelSelectedImage()"
        class="acc-photo-change"
        type="button"
        value="Cancel">
      <input
        (click)="imageSelectInput.click()"
        class="acc-photo-change"
        type="button"
        [value]="selectedImg ? 'Select new image' : 'Change profile image'">
    </div>
  </div>
  <div class="row">
    <div class="indicator">Name:</div>
    <div class="data">
      <input #name class="acc-name input" type="text" [value]="user.name">
    </div>
  </div>
  <div class="row">
    <div class="indicator">Description:</div>
    <div class="data">
      <textarea #description class="acc-description input" [value]="user.description"></textarea>
    </div>
  </div>
  <div class="row">
    <button [ngClass]="{'disabled': uploadProgress}" class="btn-save" (click)="onSave(name.value, description.value)">
      <span>Save</span>
      <span *ngIf="uploadProgress"> ({{ uploadProgress }} %)</span>
    </button>
  </div>
</div>