<div
  *ngIf="load" 
  (mouseleave)="onExit($event)"
  class="container-back"
  [style.width]="wS + 'px'"
  [style.height]="hS + 'px'"
  [style.top]="yS + 'px'"
  [style.left]="xS + 'px'">
  <!-- <span style="color:black; font-size: small; margin:0">This background will be removed</span> -->
</div>
<div
  #tooltipContainer
  class="tooltip"
  (mousenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
  [style.visibility]="display ? 'visible' : 'hidden'"
  [style.top]="y + 'px'"
  [style.left]="x + 'px'">

  <ng-container #content></ng-container>
</div>
