.container-back {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(98, 216, 255, 0.322);
  z-index: 5;
}

.tooltip {
  position: absolute;
  z-index: 6;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 0 var(--hover-color);
  border: 1px solid var(--primary-color);
  background-color: var(--background-color);
}