<div *ngIf="user">
  <app-profile-card [user]="user"></app-profile-card>

  <div class="tabs-row noselect">
    <div class="tab-container" (click)="changeTab('posts')"
    [ngClass]="selectedTab === 'posts' && 'selected'">
      <span class="tab" >Posts</span>
    </div>
  
    <div class="tab-container" (click)="changeTab('replies')"
    [ngClass]="selectedTab === 'replies' && 'selected'">
      <span class="tab">Replies</span>
    </div>
  
    <div class="tab-container" (click)="changeTab('media')"
    [ngClass]="selectedTab === 'media' && 'selected'">
      <span class="tab">Replies</span>
    </div>
  </div>

  <div *ngIf="queryUrl">
    <app-posts-list [queryUrl]="queryUrl"></app-posts-list>
  </div>
</div>

<div *ngIf="user === false" style="padding: 2rem">
  User not found
</div>

