.container {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem 0;
}

hr {
  border: 0.06rem solid var(--primary-color);
  width: 100%;
  border-radius: 0;
  margin-bottom: 0;
}

.tab-container {
  display: flex;
}

.tab {
  border-bottom: 0.12rem solid var(--primary-color);
  width: 100%;
  text-align: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: var(--text-color);
  font-weight: bold;
}

.tab:hover {
  background-color: rgb(21, 172, 89);
}

.selected {
  background-color: var(--primary-color);
}


.tab-container :not(:last-child) {
  border-right: 0.12rem solid var(--primary-color);
}

