<div class="card">
  <article class="card-body mx-auto" style="max-width: 400px;">

    <!-- TITLE -->
    <h4 class="card-title mt-3 text-center">Create Account</h4>
    <!-- ERROR MESSAGE -->
    <p class="validMsg text-center" *ngIf="responseMessage">{{ responseMessage }}. Please login.</p>
    <p class="errorMsg text-center" *ngIf="responseMessageError">{{ responseMessageError }}</p>

    <!-- FORM -->
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">

      <!-- USERNAME -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-user"></i> </span>
        </div>
        <input formControlName="username" class="form-control" placeholder="Name (can be changed)" type="text">
      </div> <!-- error-->      
      <span *ngIf="registerForm.controls['username'].touched">
        <p class="errorMsg" *ngIf="registerForm.controls['username'].errors?.required">This field is required</p>
        <p class="errorMsg" *ngIf="registerForm.controls['username'].errors?.minlength">Min 4 char</p>
        <p class="errorMsg" *ngIf="registerForm.controls['username'].errors?.isEmail">Username cannot contain @</p>
        <p class="errorMsg" *ngIf="registerForm.controls['username'].errors?.maxlength">Max 30 char</p>
      </span>

      <!-- EMAIL -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
        </div>
        <input formControlName="email" class="form-control" placeholder="Email address" type="email">
      </div> <!-- error-->
      <span *ngIf="registerForm.controls['email'].touched">
        <p class="errorMsg" *ngIf="registerForm.controls['email'].errors?.required">This field is required</p>
        <p class="errorMsg" *ngIf="registerForm.controls['email'].errors?.email">Enter a valid email</p>
        <p class="errorMsg" *ngIf="registerForm.controls['email'].errors?.maxlength">Max 50 char</p>
      </span>

      <!-- PASSWORD -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <input formControlName="password" class="form-control" placeholder="Create password" type="password">
      </div> <!-- error-->
      <span *ngIf="registerForm.controls['password'].touched">
        <p class="errorMsg" *ngIf="registerForm.controls['password'].errors?.required">This field is required</p>
        <p class="errorMsg" *ngIf="registerForm.controls['password'].errors?.minlength">Min 4 char</p>
        <p class="errorMsg" *ngIf="registerForm.controls['password'].errors?.maxlength">Max 40 char</p>
      </span>

      <!-- REPEAT PASSWORD -->
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
        </div>
        <input formControlName="confirmPassword" class="form-control" placeholder="Repeat password" type="password">
      </div> <!-- error-->
      <span *ngIf="registerForm.controls['confirmPassword'].touched">
        <p class="errorMsg" *ngIf="registerForm.controls['confirmPassword'].errors?.required">This field is required</p>
        <p class="errorMsg" *ngIf="registerForm.hasError('mustMatch')">Passwords must match</p>
      </span>  
      
      <!-- SEND BUTTON -->
      <div class="form-group">
        <button [disabled]="registerForm.invalid" type="submit" class="btn btn-primary btn-block"> Create Account </button>
      </div>  
      
      
      <!-- ------------ DIVIDER ------------ -->
      <!-- <p class="divider-text">
        <span class="bg-light">OR</span>
      </p> -->
      <!-- ------------ DIVIDER ------------ -->

      <!-- FACEBOOK LOGIN -->
      <!-- <p>
        <button disabled class="btn btn-facebook">Login via Facebook</button>
      </p> -->

    </form> <!-- END FORM -->

  </article>
</div>