.container-back {
  position: absolute;
  z-index: 4;
}

.tooltip {
  position: absolute;
  z-index: 4;
  padding: 10px 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 10px 0 var(--hover-color);
  border: 1px solid var(--primary-color);
  background-color: var(--background-color);
}