.modal-container {
  position: absolute;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);

  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  cursor: pointer;
}

/* Modal Content */
.modal {
  cursor: default;
  padding: 20px;
  border-radius: 30px;
  width: 70%;
  background-color: var(--background-color);
}

.content {
  padding:  1rem;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.message {
  padding: 1rem;
  text-align: center;
  font-size: 1.3rem;
}
