article {
  display: flex;
  flex-direction: column;
}

.post {
  display: flex;
  padding: 1rem 1rem 0;
  border-bottom: 0.15rem solid var(--primary-color);
}

.a-acc {
  margin-bottom: 0.3rem;
  display: flex;
}

.a-name {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: bold;
  margin-right: 0.3rem;
}

.a-username {
  color: rgb(136, 153, 166);
  font-size: 1rem;
}

.a-profile img {
  width: 3.4rem;
  height: 3.4rem;
  border-radius:50%;
  background-color: var(--hover-color);
  margin-right: 0.8rem;
  padding: 0.2rem;
}

.a-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.a-buttons {
  display: flex;
  flex-direction: row;
  margin: 0.3rem 0;
}

.a-bttn-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
}

.a-bttn-icon-box {
  display: flex;
  align-items: center;
  padding: 0.7rem;
  border-radius: 50%;
  cursor: pointer;
}

.a-bttn-icon, .a-bttn-count {
  color: var(--secondary-color);
}

.a-bttn-icon-box:hover {
  background-color: var(--hover-color);
}

.a-bttn-icon-box:hover svg,
.a-bttn-icon-box:hover ~ .a-bttn-count {
  color: var(--primary-color);
}

.comment {
  padding: 1rem 1rem 0;
  border-bottom: 0.15rem solid var(--primary-color);
}