<article *ngIf="post" [ngClass]="config.openPage && 'select-hover'" [ngStyle]="config.loading && {'filter': 'blur(1.5px)'}">

  
  <div class="route" (click)="openReplyPage()"></div>

  <div class="post">
    <div class="a-profile">
      <div *ngIf="config.thread" class="thread-line"></div>
      <div class="a-profile-avatar" *ngIf="post.owner">
        <ng-container *ngIf="config.showOpt">
          <tooltip-wrapper
          (clicked)="goToUser($event)"
          [params]="{user: post.owner}"
          [trigger]="triggerTooltip">
            <img #obj class="a-avatar" [src]="post.owner.avatar.relativePath">
          </tooltip-wrapper>
        </ng-container>
        <ng-container *ngIf="!config.showOpt">
          <img class="a-avatar" [src]="post.owner.avatar.relativePath">
        </ng-container>
      </div>
      <div *ngIf="config.empty">
        <img class="a-avatar" style="background-color: lightgray;">
      </div>
    </div>
  
    <div class="a-content">
      <div class="a-acc">
        <span class="a-username">
          <span>
            <div>
              <span class="aroba" #triggerTooltip>
                @{{ post.owner.username }}
              </span>
              <span> - {{ post.createdAt | dateAgo}}</span>
            </div>
          </span>
        </span>
        <div class="delete-bttn" style="margin-left: auto" *ngIf="config.owner && config.showOpt && !config.loading">
          <span title="Delete post" class="material-icons" (click)="onDelete()">clear</span>
        </div>
      </div>

      <div class="replyRef" *ngIf="post.replyRef && post.replyRef.length !== 0">
        <span>Replying to&nbsp;</span>
        <div class="arobas" *ngFor="let user of post.replyRef; let i=index">
          <span class="aroba" (click)="goToUser(user)">{{ user }}</span>
          <span *ngIf="i !== post.replyRef.length-1">&nbsp;>&nbsp;</span>
        </div>
      </div>
      <div class="a-text">
        {{ post.text }}
      </div>


      <!-- MEDIA -->
      <div *ngIf="post.media && post.media.length !== 0">
        <div class="count-container">
          <div *ngIf="post.media.length > 2">
            <ng-container *ngFor="let media of post.media.slice(1); let i=index">
              <button
                [title]="'Change to image '.concat(i+1)"
                (click)="post.media[0].selectedIndex = i+1"
                [ngClass]="{'current-selected-media': post.media[0].selectedIndex === i+1}"
                class="media-count">{{ i +1 }}</button>
            </ng-container>
          </div>
        </div>

        <img title="Click to open full screen" (click)="openMedia(post.media[post.media[0].selectedIndex].fullPath)"
          class="selected-media" [src]="post.media[post.media[0].selectedIndex].relativePath">
        <!-- <div *ngIf="selectedMediaBlob[selectedMediaIndex].format === 'image'">
          <img class="selected-media" [src]="selectedMediaBlob[selectedMediaIndex].url">
        </div>

        <div *ngIf="selectedMediaBlob[selectedMediaIndex].format === 'video'">
          <span><i>Video thumbnail</i></span>
          <video class="selected-media" [src]="selectedMediaBlob[selectedMediaIndex].url"></video>
        </div> -->
      </div> <!-- end MEDIA -->

      <div class="a-buttons noselect" *ngIf="config.showOpt">
  
        <div class="a-bttn-group">
          <div class="a-bttn-icon-box">
            <span title="Reply" class="material-icons a-bttn-icon" (click)="onReply()">chat_bubble_outline</span>
          </div>
          <span class="a-bttn-count">
            {{ count.replies }} 
            <span class="notify" style="color: orange" *ngIf="config.publishing">
              ~ publishing
              <span *ngIf="replyingProgress !== 0">&nbsp;({{replyingProgress}})</span>
            </span>
            <span class="primary notify" *ngIf="config.replied">&nbsp;~ published</span>
            <!-- <span class="primary notify" *ngIf="config.deleted">&nbsp;~ deleted</span> -->
          </span>
        </div>
  
        <div class="a-bttn-group noselect">
          <div class="a-bttn-icon-box">
            <span title="Like" *ngIf="!config.liked" class="material-icons a-bttn-icon" (click)="onLike()">favorite_border</span>
            <span title="Dislike" *ngIf="config.liked" class="material-icons a-bttn-icon red" (click)="onLike()">favorite</span>
          </div>
          <span class="a-bttn-count">
            {{ count.likes }}
          </span>
        </div>
  
        <div class="a-bttn-group">
          <div class="a-bttn-icon-box a-bttn-icon">
            <span title="Share" class="material-icons a-bttn-icon" (click)="onShare()">send</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</article>
