article {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 0.5rem;
}

.select-hover:hover {
  background-color: rgb(17, 29, 41);
}

.route {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.bar-container {
  margin: 10px auto;
  width: 80%;
  text-align: center;
}
.progress {
  padding: 3px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.25);  
}

.progress-bar {
  height: 0.2rem;
  border-radius: 30px;
  width: 85%; 
  background-color: #47ef6377;
}

.material-icons {
  cursor: pointer;
  position: relative;
}

.replyRef {
  margin-bottom: 0.3rem;
  color: var(--secondary-color);
  font-size: 0.8rem;
}

.notify {
  position: absolute;
}

.arobas {
  display: inline-block;
}

.aroba {
  color: rgb(6, 184, 255);
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.aroba:hover {
  color: var(--primary-color);
}

.post {
  display: flex;
  padding: 1rem 1rem 0;
}

.a-acc {
  display: flex;
  /* position: relative; */
}

.a-name {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: bold;
  margin-right: 0.3rem;
  /* z-index: 2; */
  cursor: pointer;
}

.a-username {
  color: rgb(136, 153, 166);
  font-size: 1rem;
  /* z-index: 2; */
  cursor: pointer;
}

.a-profile {
  display: flex;
  flex-direction: column;
  /* position: relative; */
}

.a-profile-avatar {
  position: relative;
}

.a-avatar {
  width: 3.4rem;
  height: 3.4rem;
  border-radius:50%;
  background-color: var(--hover-color);
  padding: 0.2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.a-content {
  margin-left: 0.8rem;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.a-buttons {
  display: flex;
  flex-direction: row;
  margin: 0.3rem 0;
  flex: 1;
}

.a-bttn-group {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  margin-right: auto;
  cursor: pointer;
}

.a-bttn-icon-box {
  display: flex;
  align-items: center;
  padding: 0.7rem;
  border-radius: 50%;
  /* cursor: pointer; */
}

.a-bttn-icon, .a-bttn-count {
  color: var(--secondary-color);
  z-index: 1;
}

.a-bttn-icon-box:hover {
  background-color: var(--hover-empty-color);
}

.a-bttn-icon-box:hover svg,
.a-bttn-icon-box:hover ~ .a-bttn-count {
  color: var(--primary-color);
}

.a-text {
  position: relative;
  display: flex;
  width: 0;
}

.comment {
  padding: 1rem 1rem 0;
}

.thread-line {
  border-left: 3px solid rgb(136, 153, 166);
  margin-left: 30px;
  height: 100%;
  margin-top: 2rem;
  position: absolute;
}

.red {
  color: rgb(255, 106, 106);
  border: 0;
}

.selected-media {
  width: 100%;
  height: auto;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
  transition: transform .2s;
}

.selected-media:hover {
  transform: scale(1.1);
}

.media-count {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 500px;
  text-align: center;
  display: inline;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--text-color);
  margin-right: 1rem;
  position: relative;
}
.media-count:hover:not(.current-selected-media) {
  background-color:  var(--hover-solid-color);
}

.count-container {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.current-selected-media {
  background-color: var(--hover-empty-color);
}

.delete-bttn {
  margin-left: auto;
  cursor: pointer;
}

.loading-avatar {
  position: absolute;
  z-index: 2;
  width: 3.8rem;
  height: 3.8rem;
  top: 0;
  border-radius: 50%;
  /* animation-timing-function: linear; */
  /* animation: 1.5s linear .1s example; */
  background-color: rgba(23, 191, 99, 0.589);
  animation: example 1.5s linear .1s;
  animation-fill-mode: forwards;
  /* -webkit-animation-timing-function: linear; */


  /* animation-name: example;
  animation-duration: 4s; */
}


@keyframes example {
  0%   {width: 3.8rem; height: 3.8rem; left: 0; top: 0;}
  100% {width: 0rem; height: 0rem; left: 1.9rem; top: 1.9rem;}
}