.container {
  width: 100%;
  height: 92%;
  display: flex;
  flex-direction: column;
}

.post-list {
  overflow: scroll;
  flex-grow : 1;
}
.post-list::-webkit-scrollbar {
  display: none;
}

.border {
  border-bottom: 0.15rem solid var(--primary-color);
}