<div class="container">
  <!-- <div *ngIf="pageInfo">
    <span>Count: {{ pageInfo.count }} | </span>
    <span>Next page: {{ pageInfo.pagination.next.page }} | </span>
    <span>Limit: {{  pageInfo.pagination.next.limit}}</span>
    <hr>
  </div> -->


  <!-- Publish Component -->
  <div *ngIf="isLogged$ | async; else notLogged">
    <app-post-publish
      [destinationConfig]="{destination:1, parentIndex:0}">
    </app-post-publish>
  </div>
  
  <ng-template #notLogged class="border auth-container">
    <div class="notLogged">
      <span class="auth-text"></span>
      <div>
        <button class="bttn" (click)="auth('LoginComponent')">Login</button>
        &nbsp;or&nbsp;
        <button class="bttn" (click)="auth('RegisterComponent')">Register</button>
      </div>
    </div>
  </ng-template>


  <div *ngIf="loading" style="padding: 2rem; text-align: center;">
    <h3>Searching posts...</h3>
  </div>
  <!-- Post Component List -->
  <div class="posts-list" *ngIf="postsList$ | async as postsList">
    <div *ngIf="!loading && postsList && postsList.length !== 0">
      <div class="border" *ngFor="let post of postsList; let i=index">
        <app-post
        [contextInfo]="{i:i, type:'list'}"
        [publishConfig]="{destination:0}"
        [deleteConfig]="{destination:1, parentIndex:i}"
        [post]="post">
        </app-post>
      </div>
    </div>

    <div *ngIf="!loading && postsList.length === 0" style="padding: 2rem; text-align: center;">
      <h3>No posts published yet</h3>   
    </div>

  </div>
</div>
