.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.border {
  border-bottom: 1.5px solid var(--primary-color);
}

.auth-container {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notLogged {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 0 auto;
}

.bttn {
  border: 0;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.6rem 3rem;
  border-radius: 500px;
  text-align: center;
  display: inline;
  cursor: pointer;
  background-color: var(--primary-color);
}
.bttn:hover {
  background-color:  rgb(21, 172, 89);
}

.auth-text {
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
}