.container {
  display: flex;
}

.item-container {
  display: flex;
}

.item {
  display: flex;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
}

.item:hover {
  background-color: var(--hover-empty-color);
  color: var(--primary-color);
}

.item-content {
  display: flex;
  align-items: center;
}

.menu-item-name {
  margin-left: 0.3rem;
}

.material-icons {
  font-size: 2rem;
}

hr {
  /* color: var(--primary-color); */
  border: 1.5px solid var(--primary-color);
  border-radius: 10px;
  background-color: var(--primary-color);
}
.sep-top {
  margin-top: 1rem;
  width: 100%;
}
.sep-bottom {
  margin-bottom: 1rem;
  width: 100%;
}

.tablist {
  width: 100vw;
  height: 3rem;
  display: flex;
  align-items: stretch;
  order: 0;
  border-left: 2px solid var(--primary-color);
  border-right: 2px solid var(--primary-color);
}

.tab-item-container {
  flex: 1;
  display: flex;
}



@media only screen and (min-width: 770px) {
  .container {
    height: 100%;
    flex-direction: column;
  }

  .item {
    padding: 0.8rem 0.4rem;
    border-radius: 500px;
  }

  .item-name {
    margin-left: 1.3rem;
    padding-right: 1rem;
  }

  .nonative {
    display: flex;
    flex: 1;
  } 
  
}


@media only screen and (max-width: 769px) {
  .container {
    flex-direction: row;
    width: 100vw;
    flex-wrap: wrap;
    display: flex;
    z-index: 10;
    box-shadow: 0px -50px 25px 50px var(--background-color);

  }

  .item-name {
    display: none;
  }

  .logo {
    display: none;
  }

  .item-container {
    flex: 2;
  }

  .item {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .nonative {
    display: flex;
    justify-content: center;
    flex: auto;
    align-self: center;
  }

}


