<!-- <div *ngIf="subMenu">
  <hr>
  <div *ngFor="let subItem of subMenu; let i=index">
    <a
      [ngStyle]="i === selSubItemIdx && {'color':'green'}"
      (click)="changeSubItem(i, subItem)">{{ subItem.name }}</a>
  </div>
  <hr>
</div> -->

<!-- <div *ngIf="selSubItemIdx !== -1">
  <hr>
  <div *ngFor="let subItem of itemsList[selItemIdx].children; let i=index">
    <a
      [ngStyle]="i === selSubItemIdx && {'color':'green'}"
      (click)="changeSubItem(i, subItem, itemsList[selItemIdx])">{{ subItem.name }}</a>
  </div>
  <hr>
</div> -->

<div *ngIf="selSubItemIdx !== -1">
  <hr>
  <div *ngFor="let subItem of getSubItemsList(); let i=index">
    <a
      [ngStyle]="i === selSubItemIdx && {'color':'green'}"
      (click)="changeSubItem(i, subItem, itemsList[selItemIdx])">{{ subItem.name }}</a>
  </div>
  <hr>
</div>

<ng-container *ngFor="let item of itemsList; let i=index">
  <div *ngIf="!item.protected || !!(item.checkAvailability | async) === item.expectingRes">
    <a
      [ngStyle]="i === selItemIdx && {'color':'green'}"
      (click)="changeItem(i, item)">{{ item.name }}
    </a>
  </div>
</ng-container>