<div class="container">

  <!-- TABLIST for mobile version -->
  <div class="tablist" *ngIf="isMobile && selMenuItemIdx !== -1">
    <div class="tab-item-container noselect" *ngFor="let item of menuList; let i=index">
      <div class="item" (click)="changeMenuItem(i)">
        <div class="item-content" [ngClass]="i === selMenuItemIdx && 'selected'">
          <!-- ICON -->
          <ng-container *ngIf="item.icon">
            <span class="material-icons" [innerHTML]="item.icon"></span>
          </ng-container>
          <!-- NAME -->
          <span class="menu-item-name">{{ item.name }}</span>
        </div>
      </div>
    </div>
  </div>


  <!-- LOGO -->
  <div class="logo item-container" (click)="changeNavbarItem(1, navbarList[1])">
    <div class="item">
      <div class="item-content">
        <span class="material-icons">all_inclusive</span>
      </div>
    </div>
  </div>

  <!-- Menu -->
  <ng-container *ngIf="selMenuItemIdx !== -1 && !isMobile">
    <hr class="sep-top">
    <div class="item-container noselect" *ngFor="let item of menuList; let i=index">
      <div class="item" (click)="changeMenuItem(i)">
        <div class="item-content" [ngClass]="i === selMenuItemIdx && 'selected'">
          <!-- ICON -->
          <ng-container *ngIf="item.icon">
            <span class="material-icons" [innerHTML]="item.icon"></span>
          </ng-container>
          <!-- NAME -->
          <span class="item-name">{{ item.name }}</span>
        </div>
      </div>
    </div>
    <hr class="sep-bottom">
  </ng-container>

  <!-- Navbar List -->
  <ng-container *ngFor="let item of navbarList; let i=index">
    <ng-container *ngIf="!item.protected || !!(item.checkAvailability | async) === item.expectingRes">

      <div class="item-container noselect">
        <div class="item" (click)="changeNavbarItem(i, item)">
          <div class="item-content" [ngClass]="i === selNavbarItemIdx && 'selected'">
            <!-- ICON -->
            <ng-container *ngIf="item.icon">
              <span class="material-icons" [innerHTML]="item.icon"></span>
            </ng-container>
            <!-- NAME -->
            <span class="item-name">{{ item.name }}</span>
          </div>
        </div>
      </div>

    </ng-container>
  </ng-container>

  <!-- Post button -->
  <div class="nonative">
    <ng-content select="[post]"></ng-content>
  </div>
  
  <!-- Account -->
  <div class="nonative">
    <ng-content select="[account]"></ng-content>
  </div>
  
</div>
