.notification {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 0.15rem solid var(--primary-color);
}

.read-button {
  background: transparent;
  border: 1px solid var(--primary-color);
  padding: 1rem;
  margin-left: auto;
  border-radius: 400px;
  color: var(--text-color);
  cursor: pointer;
  font-weight: bold;
}

.read-button:hover {
  background-color:  rgb(21, 172, 89);
}

.responsible {
  color: rgb(6, 184, 255);
  cursor: pointer;
  z-index: 5;
}
.responsible:hover {
  color: var(--primary-color);
}

.acc-photo {
  width: 2.9rem;
  height: 2.9rem;
  border-radius: 50%;
  background-color: red;
  margin-right: 0.8rem;
}

.acc-profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 5;
}

.no-list {
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
}