.modal-container {
  position: absolute;
  z-index: 4; /* Sit on top */
  /* padding-top: 10rem; Location of the box */

  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  /* Avoid affecting height */
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}

/* Modal Content */
.modal {
  /* background-color: #fefefe; */
  /* margin: auto; */
  padding: 20px;
  border-radius: 30px;
  width: 70%;
  background-color: var(--background-color);
  background-color: red;
}

.content {
  padding:  1rem;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.message {
  padding: 1rem;
  text-align: center;
  font-size: 1.3rem;
}
