<div class="container">
  <div class="acc-info">
    <div>Name: <span class="primary">{{ user.name }}</span></div>
    <div>Username: <span class="primary">@{{ user.username }}</span></div>
    <div>Id: <span class="primary">{{ user.id }}</span></div>
  </div>
  <button class="empty-wrapper logout-bttn" (click)="logout()">Logout</button>
</div>

<span>Active sessions:</span>
<hr>
<ng-container *ngIf="tokens">
  <div class="token-item" *ngFor="let item of tokens">
    <div class="token-data">
      <span>{{ item.title }}</span>
      <span>> {{ item.createdAt | dateAgo }}</span>
    </div>
    <button class="empty-wrapper revoke-bttn"
    (click)="onRevoke(item.token)"
    *ngIf="item.token !== refreshToken; else currentTkn">
      Revoke
    </button>
    <ng-template #currentTkn>
      <span>Current</span>
    </ng-template>
    
  </div>
</ng-container>
