<modal-extended></modal-extended>
<modal-tooltip></modal-tooltip>
<div class="container">
  <!-- HEADER -->
  <div class="header-container">
    <div class="header">

      <!-- NAVBAR -->
      <app-navbar>

        <!-- Post button -->
        <button post (click)="openPostModal()" class="solid-bttn post-bttn noselect">
          Post
        </button>

        <!-- Account -->
        <ng-container account *ngIf="user$ | async as user">
          <div (click)="goTo('/auth/accounts')"  class="empty-wrapper noselect acc-wrapper">
            <img class="acc-avatar" [src]="user.avatar.fullPath">
            <div class="acc-names">
              <span class="acc-name">{{ user.name }}</span>
              <span class="acc-username">@{{ user.username }}</span>
            </div>
          </div>
        </ng-container>
        

      </app-navbar>
      
    </div>
  </div>

  <!-- CONTENT -->
  <div class="main-container">
    <div class="main">
      
      <div class="main-location">{{ location$ | async }}</div>
      <div class="main-content">
        <modal-default></modal-default>
        <div class="main-content-list">
          <router-outlet></router-outlet>
        </div>
      </div>

    </div>
  </div>

</div>