.container {
  height: 100%;
  position: absolute;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* HEADER */
.header-container {
  display: flex;
}

/* MAIN */
.main-container {
  display: flex;
  flex-direction: column;
  min-height: 0;
}
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.main-location {
  border-bottom: 1.5px solid var(--primary-color);
  font-size: 2rem;
  padding: 0.4rem 1rem;
}

.main-content {
  position: relative;
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.main-content-list {
  flex: 1;
  min-height: 0;
  overflow-y: scroll;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.header-container::-webkit-scrollbar {
  display: none;
}
.main-content-list::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.main-content-list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.header-container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* DESKTOP */
@media only screen and (min-width: 770px) {
  .header-container {
    flex: 1;
    padding: 2rem 2rem 2rem 0;
    overflow: scroll;
  }
  .main-container {
    flex: 2;
  }

  .header {
    margin-left: auto;
    width: 220px;
  }
  .main {
    width: 550px;
    border-left: 1.5px solid var(--primary-color);
    border-right: 1.5px solid var(--primary-color);
  }

  /* EXTRA NAVS */
  .post-bttn {
    width: 90%;
    height: 3rem;
    padding: 0.8rem 0;
    margin: 2rem auto 0;
  }
  .acc-wrapper {
    width: 100%;
    margin-top: auto;
    padding: 0.2rem 1rem 0.2rem 0.2rem;
  }
  .acc-names {
    display: flex;
    flex-direction: column;
  }
}


/* MOBILE */
@media only screen and (max-width: 769px) {
  /* Change to vertical flow */
  .container {
    flex-direction: column;
  }
  
  /* Change order */
  .main-container {
    order: 1;
    flex: 1;
  }
  .header-container {
    order: 2;
    padding: 0;
  }

  .header {
    flex: 1;
  }

  /* EXTRA NAVS */
  .post-bttn {
    flex: 1;
    min-width: 6rem;
    max-width: 10rem;
    padding: 0.6rem 0;
    background-color: mediumseagreen;
    justify-content: center;
  }
  .acc-wrapper {
    width: 3rem;
    padding: 0.2rem;
  }
  .acc-names {
    display: none;
  }
}

/* ACCOUNT */
.acc-avatar {
  width: 2.9rem;
  height: auto;
  border-radius: 50%;
}
.acc-names {
  margin-left: 0.8rem;
}
.acc-username {
  color: var(--secondary-color);
}