article {
  display: flex;
  padding: 1rem 1rem 0;
  /* border-bottom: 0.15rem solid var(--primary-color); */
}

/* article {
  display: flex;
  padding: 1rem 1rem 0;
  border-bottom: 0.15rem solid var(--primary-color);
} */

.replyRef {
  margin-bottom: 0.3rem;
  color: var(--secondary-color);
  font-size: 0.8rem;
}

.aroba {
  color: rgb(6, 184, 255);
  cursor: pointer;
}
.aroba:hover {
  color: var(--primary-color);
}

.a-profile img {
  width: 3.4rem;
  height: 3.4rem;
  border-radius:50%;
  background-color: var(--hover-color);
  margin-right: 0.8rem;
  padding: 0.2rem;
}

.a-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.a-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.3rem 0;
}

.bttn-opt {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-box {
  padding: 0.5rem;
  margin-right: 0.3rem;
  cursor: pointer;
  border-radius: 500px;
  outline: 0;
}
.icon-box:hover {
  background-color: var(--hover-color);
}
.opt-icon {
  color: var(--primary-color);
  width: 1.6rem;
  height: 1.6rem;
}

.bttn-post {
  margin-left: auto;
}

.post-bttn {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.4rem 3rem;
  border-radius: 500px;
  text-align: center;
  display: inline;
  cursor: pointer;
  background-color: var(--primary-color);
}
.post-bttn:hover {
  background-color:  rgb(21, 172, 89);
}

.save-bttn {
  margin-right: 12px;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.4rem 1rem;
  border-radius: 500px;
  text-align: center;
  display: inline;
  cursor: pointer;
  background-color: var(--primary-color);
}
.save-bttn:hover {
  background-color:  rgb(21, 172, 89);
}

/* .text-area {
  font-size: 1.5rem;
  width: 100%;
  min-height: 5rem;
  background-color: transparent;
  color: var(--text-color);
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
} */

.toReply {
  margin-bottom: 0.5rem;
}

#text-box {
  min-height: 4rem;
  font-size: 1.5rem;

  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

[contenteditable=true]:empty:before{
  content: attr(placeholder);
  pointer-events: none;
  color: var(--secondary-color);
  display: block; /* For Firefox */
}

.selected-media {
  width: 100%;
  height: auto;
  border-radius: 30px;
  margin-bottom: 1rem;
}

.media-count {
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 500px;
  text-align: center;
  display: inline;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--text-color);
  margin-right: 1rem;
}
.media-count:hover:not(.current-selected-media) {
  background-color:  rgb(21, 172, 89);
}

.count-container {
  margin: 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.current-selected-media {
  background-color: var(--hover-color);
}

.remove-bttn {
  margin-left: auto;
}