<div *ngIf="postReply" class="toReply">
  <app-post [inputConfig]="{showOpt:false, thread:true, openPage: false}" [post]="postReply"></app-post>
</div>
<article>
  <div class="a-profile">
    <img [src]="user.avatar.fullPath">
  </div>
  <div class="a-content">

    <div class="replyRef upper" *ngIf="postReply">
      <span>Replying to&nbsp;</span>
      <span class="aroba">@{{ postReply.owner.username }}</span>
    </div>

    <div #postInput contenteditable="true" id="text-box" placeholder="What's happening?"></div>

    <div class="a-buttons">
      <input #mediaSelect type="file" multiple (change)="onMediaSelect($event)" style="display: none;">

      <div class="bttn-opt">
        <div class="icon-box" (click)="mediaSelect.click()">
          <svg class="bi bi-image opt-icon" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M14.002 2h-12a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1zm-12-1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12z" />
            <path
              d="M10.648 7.646a.5.5 0 0 1 .577-.093L15.002 9.5V14h-14v-2l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71z" />
            <path fill-rule="evenodd" d="M4.502 7a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
          </svg>
        </div>
      </div>

      <div style="margin-left:auto" *ngIf="showUploadProgress">
        Uploading {{ uploadProgress }}%
      </div>



      <div class="bttn-post">
        <!-- <div class="save-bttn" (click)="publishPost()">
          Save Draft
        </div> -->
        <div class="post-bttn noselect" (click)="publishPost()">
          Post
        </div>
      </div>
      
    </div>

    <!-- MEDIA -->
    <div class="media" *ngIf="selectedMediaBlob.length !== 0">
      <div class="count-container">
        <div *ngIf="selectedMediaBlob.length > 1">
          <ng-container *ngFor="let media of selectedMediaBlob; let i=index">
            <button
              (click)="selectedMediaIndex = i"
              [ngClass]="{'current-selected-media': selectedMediaIndex === i}"
              class="media-count">{{ i +1 }}</button>
          </ng-container>
        </div>
        <div class="remove-bttn empty-wrapper" (click)="onCancelSelectedMedia(selectedMediaIndex)">Remove media {{ selectedMediaIndex +1 }}</div>
      </div>

      <div *ngIf="selectedMediaBlob[selectedMediaIndex]?.format === 'image'">
        <img class="selected-media" [src]="selectedMediaBlob[selectedMediaIndex].url">
      </div>

      <div *ngIf="selectedMediaBlob[selectedMediaIndex]?.format === 'video'">
        <span><i>Video thumbnail</i></span>
        <video class="selected-media" [src]="selectedMediaBlob[selectedMediaIndex].url"></video>
      </div>
    </div>
    
  </div>
</article>
