.container {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.acc-photo {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: var(--hover-color);
  cursor: pointer;
}

.follow-bttn {
  margin-left: auto;
  margin-right: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 0.6rem 2rem;
  border-radius: 500px;
  text-align: center;
  display: inline;
  cursor: pointer;
  background-color: var(--primary-color);
  border: 0;
  color: var(--text-color);
}
.follow-bttn:hover {
  background-color:  rgb(21, 172, 89);
}

.acc-names {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.acc-name {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: bold;
  margin-right: 0.3rem;
  cursor: pointer;
}

.acc-username {
  color: rgb(136, 153, 166);
  font-size: 1rem;
  cursor: pointer;
}

.divider {
  border: 1px solid var(--primary-color);
}

.push-right {
  margin-left: auto;
  margin-right: 3rem;
}

.not-following:after {
  content: 'Follow'
}
.following:after {
  content: 'Following'
}
.following:hover:after {
  content: 'Unfollow';
}