/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: rgb(23, 191, 99);
  --secondary-color: rgb(136, 153, 166);
  --hover-empty-color: rgba(0, 255, 0, 0.1);
  --hover-solid-color: rgb(21, 172, 89);
  --background-color: rgb(23, 37, 51);
  --text-color: #ffffff;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.solid-bttn {
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 500px;
  outline: 0;
  border: 0;
  text-align: center;
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.solid-bttn:hover {
  background-color: var(--hover-solid-color);
}

.primary {
  color: var(--primary-color);
}

.empty-wrapper {
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 500px;
  outline: 0;
  border: 2px solid var(--primary-color);
  cursor: pointer;
  color: var(--text-color);
  display: flex;
  align-items: center;
}

.empty-wrapper:hover {
  background-color: var(--hover-empty-color);
}

.selected {
  color: var(--primary-color);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

div:focus, a:focus, button {
  outline: 0;
}

hr {
  border: 1.5px solid  var(--primary-color);
  background-color: var(--primary-color);
}
