<p (click)="go(user._id)">Name: {{ user.username }}</p>
<div>
  <img class="acc-photo" [src]="user.avatar.fullPath">
  <span>{{ user.name }}</span>
  <p>{{ user.description }}</p>
</div>
<div *ngIf="allowEdit && isOwner">
  <button (click)="onEditAccount()">EDIT Account</button>
</div>
<p>
  <button *ngIf="!isOwner" (click)="follow()">
    <span *ngIf="isFollowing">Following</span>
    <span *ngIf="!isFollowing">Not following</span>
  </button>
</p>
<div style="display: inline;">
  <button (click)="openPosts()">Posts {{ user.count.posts }}</button>
  <button (click)="openList('followers')">Followers {{ user.count.followers }}</button>
  <button (click)="openList('following')">Following {{ user.count.following }}</button>
</div>