.container {
  display: flex;
  flex-direction: column;
  min-width: 20rem;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.acc-photo {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-color: var(--hover-color);
  cursor: pointer;
}

.follow-bttn {
  min-width: 9rem;
  margin-left: auto;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.75rem 0rem;
  border-radius: 500px;
  text-align: center;
  display: inline;
  cursor: pointer;
  background-color: var(--primary-color);
}
.follow-bttn:hover {
  background-color:  rgb(21, 172, 89);
}

.acc-name {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: bold;
  margin-right: 0.3rem;
  cursor: pointer;
}

.acc-username {
  color: rgb(136, 153, 166);
  font-size: 1rem;
  cursor: pointer;
}

.section {
  font-weight: bold;
}

.section-count {
  cursor: pointer;
}

hr {
  width: 100%;
}

.not-following:after {
  content: 'Follow'
}
.following:after {
  content: 'Following'
}
.following:hover:after {
  content: 'Unfollow';
}

.following:hover .follow-bttn {
  background-color: rgb(164, 60, 120);
}