<p (click)="go(user._id)">Name: {{ user.username }}</p>
<p>
  <button *ngIf="!isOwner" (click)="follow()">
    <span *ngIf="isFollowing">Following</span>
    <span *ngIf="!isFollowing">Not following</span>
  </button>
</p>
<div style="display: inline;">
  <button (click)="openPosts()">Posts {{ user.count.posts }}</button>
  <button (click)="openList('followers')">Followers {{ user.count.followers }}</button>
  <button (click)="openList('following')">Following {{ user.count.following }}</button>
</div>